body {
    padding-top: 70px;
    padding-bottom: 140px;
}

/*
 ==========
 CHART CONTROLS
 ==========
 */
.dropdown-menu {
    overflow: auto;
    height: auto;
    max-height: 120px;
}

.dropdown-item {
    cursor: pointer;
}
.dropdown-item:hover {
    background: #286090;
    background: #868e96;
}

.menuDisplay {
    /*color: #28a745;*/
    font-size: 30px;
    /*height: 30px;
    line-height: 30px;
    vertical-align: middle;*/
    margin-bottom: 12px;
    margin-top: 12px;
}

.panel-body {
    overflow: auto;
    height: 120px;
}
.panel-body li, ul {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.panel-hint {
    font-size: 12px;
}

/*
 ==========
 HIGHCHART
 ==========
 */

#chartContainer {
}