{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
	<title>
			Canada CPI Data Viewer
	</title>

</head>

<body>

<!-- NAV -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	<div class="navbar-header">
		<div class="navbar-brand">Canada CPI Data Viewer</div>
	</div>
	</div>
</nav>

<!-- MAIN BODY -->
<div class="container">

<div class="row">

	<!-- Start Year -->
	<div class="col-md-4">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle"
			        type="button" data-toggle="dropdown">
				Start Year <span class="caret"></span>
			</button>

			<ul id="startYearMenu" class="dropdown-menu">
			</ul>
			<div id="startYearDisplay" class="menuDisplay">
				1914
			</div>
		</div>
	</div>

	<!-- End Year -->
	<div class="col-md-4">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle"
			        type="button" data-toggle="dropdown">
				End Year <span class="caret"></span>
			</button>

			<ul id="endYearMenu" class="dropdown-menu">
			</ul>
			<div id="endYearDisplay" class="menuDisplay">
				2016
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle"
			        type="button" data-toggle="dropdown">
				Plot <span class="caret"></span>
			</button>

			<ul id="plotMenu" class="dropdown-menu">
			</ul>
			<div id="plotDisplay" class="menuDisplay">
				Index Value
			</div>
		</div>
	</div>

</div>

<hr>

<!-- Items -->
<div class="row">

	<!-- Items List -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Items List <span class="panel-hint">(click to add)</span>
			</div>
			<div class="panel-body">
				<ul id="itemsList">
				</ul>
			</div>
		</div>
	</div>

	<!-- Selected Items -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Selected Items <span class="panel-hint">(click to remove)</span>
			</div>
			<div class="panel-body">
				<ul id="selectedItems">
				</ul>
			</div>
		</div>
	</div>

</div>

<hr>

<!-- Chart -->
<div id="renderChart">
	<button id="renderChartButton" class="btn btn-primary">Render Chart</button>
</div>

<hr>

<div id="chartContainer">
</div>

</div>

</div>




<!--
========================================================================== 
JAVASCRIPT
==========================================================================
-->
<script>
$(document).ready(function() {

	/*
		==========
		MODEL
		==========
	*/
	let model = []

	/*
		==========
		CONFIG
		==========
	*/
	let config = {
		//DOMAIN: 'http://127.0.0.1:8000/'
		DOMAIN: 'https://cpi-viewer.herokuapp.com/'
	}

	/*
		==========
		STATE
		==========
	*/
	let state = {
		startYear: 1914,
		endYear: 2016,
		plot: 'Index Value',
		item: 'All-items',
		selectedItems: {}
	};

	/*
		==========
		EVENTS
		==========
	*/
	function setChartOption(e, option, dataType) {
		let elemId;

		state[option] = $(e.target).attr('data-valDisplay');
		elemId = '#' + option + 'Display';
		if (dataType === 'int') {
			state[option] = parseInt(state[option]);
		}
		renderChartOption(e, option, elemId);
	}

	function renderChartOption(e, option, elemId) {		
		$(elemId).text(state[option]);
	}

	function addItem(e) {
		const text = $(e.target).attr('data-valDisplay');

		if (state.selectedItems[text]) {
			return;
		}
		state.selectedItems[text] = true;

		let newLi = $('<li class="dropdown-item">' + text + '</li>');
		newLi.attr('data-valDisplay', text);
		newLi.on('click', function(e) {
			removeItem(e);
		});
		newLi.appendTo("#selectedItems");
	}

	function removeItem(e) {
		const text = $(e.target).attr('data-valDisplay');
		delete state.selectedItems[text];
		$(e.target).remove();
	}

	function renderChart(e) {
		let allSeries = [];

		let plotFilter = '';
		if (state.plot === 'Index Value') {
			plotFilter = 'value';
		} else {
			plotFilter = 'pct_change';
		}

		// SET-UP DATA

		// For each selected CPI item...
		Object.keys(state.selectedItems).forEach(function(currItem) {

			// 1) filter model for that item
			let filteredItems = model.filter(function(x) {
					if (x.fields.item === currItem) {
						return x;
				}
			});
			
			// 2) build the series data values for that item
			let seriesDataValues = []

			let currYear = state.startYear;
			filteredItems.forEach(function(item) {
				for (let i = currYear; i <= state.endYear; i++) {

					// case: out of range, go to next item
					if ((item.fields.year < state.startYear) ||
					    (item.fields.year > state.endYear)) {
						break;
					}
					// case: include data
					if (i === item.fields.year) {
						seriesDataValues.push(item.fields[plotFilter]);
						currYear++;
						break;
					}
					// case: no data for the year
					else {
						seriesDataValues.push(null);
						currYear++;
					}
				}
			});

			// 3) add item to the list of all data to be included in the chart 
			allSeries.push({
				name: currItem,
				data: seriesDataValues,
			});
		});

		// RENDER CHART
		const chartContainer = 'chartContainer';
		let yTitle = '';
		if (state.plot === 'Index Value') {
			yTitle = 'CPI Values';
		} else {
			yTitle = 'Percent Change';
		}

		let chartConfig = {
			chart: {
				events: {
					load: function(event) {
						$('html, body').animate({ scrollTop: $("#chartContainer").offset().top }, 500);					
					}
				},
				zoomType: 'x'
			},
			title: {
				text: 'Canada CPI Data'
			},
      subtitle: {
				text: document.ontouchstart === undefined ?
					'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
      },
			plotOptions: {
				series: {
					pointStart: state.startYear,
					pointEnd: state.endYear
				}
			},
			yAxis: {
				title: {
					text: yTitle
				}
			},
			series: allSeries
		};

		Highcharts.chart(chartContainer, chartConfig);
	}

	/*
		==========
		INIT
		==========
	*/
	(function() {
		// DOM: startYear
		let startYearList = [];
		for (let i = 1914; i <= 2016; i++) {
			startYearList.push(i);
		}

		startYearList.forEach(function(x) {
			let newLi = $('<li class="dropdown-item">' + x + '</li>');
			newLi.attr('data-valDisplay', x);
			newLi.on('click', function(e) {
				setChartOption(e, 'startYear', 'int');
			});
			newLi.appendTo("#startYearMenu");
		});

		// DOM: endYear
		let endYearList = [];
		for (let i = 1914; i <= 2016; i++) {
			endYearList.push(i);
		}

		endYearList.forEach(function(x) {
			let newLi = $('<li class="dropdown-item">' + x + '</li>');
			newLi.attr('data-valDisplay', x);
			newLi.on('click', function(e) {
				setChartOption(e, 'endYear', 'int');
			});
			newLi.appendTo("#endYearMenu");
		});

		// DOM: plot
		indexValueLi = $('<li class="dropdown-item">Index Value</li>');
		indexValueLi.attr('data-valDisplay', 'Index Value');
		indexValueLi.on('click', function(e) {
			setChartOption(e, 'plot', 'str');
		});
		indexValueLi.appendTo("#plotMenu");

		pctChangeLi = $('<li class="dropdown-item">Percent Change</li>');
		pctChangeLi.attr('data-valDisplay', 'Percent Change');
		pctChangeLi.on('click', function(e) {
			setChartOption(e, 'plot', 'str');
		});
		pctChangeLi.appendTo("#plotMenu");

		// DOM: items
		// note: 'All-items'' should have been removed server-side,
		//   so it can be pushed to the front
		let itemList = {{ item_types|safe }}
		itemList.unshift('All-items');

		itemList.forEach(function(x) {
			let newLi = $('<li class="dropdown-item">' + x + '</li>');
			newLi.attr('data-valDisplay', x);
			newLi.on('click', function(e) {
				addItem(e);
			});
			newLi.appendTo("#itemsList");
		});

		// DOM: button to render chart
		let renderBtn = $('#'+'renderChartButton');
			renderBtn.on('click', function(e) {
				renderChart(e);
			});

		// AJAX Data
		let url = config.DOMAIN + 'get/';
		$.get(url, function(response) {
			model = response;
		});
	})();


});
</script>

</body>

</html>

